@model IEnumerable<HivelyCoreMVC.Models.NoteModels.NoteListItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Notes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OwnerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoteTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoteDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoteContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hives)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Queens)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Locations)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NoteTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoteDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoteContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfNote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hives)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Queens)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locations)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
