@model HivelyCoreMVC.Data.Entities.Queen

@{
    ViewData["Title"] = "Details";
}

<h1>Queen Details</h1>

<div>
    <h4>Queen</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QueenName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QueenName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginLocation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
